<!-- templates/payment.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{razorpay_key}}",
        amount: "{{amount}}",
        currency: "INR",
        name: "{{order.name}}",
        description: "Test Transaction",
        image: "https://imgur.com/NOWiBu9",
        order_id: "{{order_id}}",
        callback_url: "http://127.0.0.1:8000/bookings/callback_payment/",
        redirect: true,
        notes: {
            "address": "Razorpay Corporate Office"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
</body>
</html>
